
/* Geral */

body {
  font-family: 'Open Sans', sans-serif;
}

/* Componentes */

.botao {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  text-transform: uppercase;
}

.botao-comprar {
  background-color: #87c248;
  color: white;
}

.botao-comprar:active,
.botao-comprar:focus,
.botao-comprar:hover {
  background-color: #78ad40;
}


/* Grid */

.cartao-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cartao {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 370px;
  border-radius: 5px;
  border: solid 1px #e5e5e5;
  box-shadow: 0 0 5px 0 rgba(121,121,121,0.3);
  background-color: #ffffff;
}

.cartao:hover,
.cartao:active,
.cartao:focus {
  box-shadow: 0 5px 15px 0 rgba(121,121,121,0.6);
}

.cartao.essenciais h2 {color: #d47c49;}
.cartao.surpreendentes h2 {color: #9e4470;}
.cartao.notaveis h2 {color: #b5346e;}
.cartao.singulares h2 {color: #9b3180;}
.cartao.refrescantes h2 {color: #d75e6b;}
.cartao.espumantes h2 {color: #b3b055;}

.superior, .inferior {
  flex: 1; /* Deixa todos com mesma altura */
  padding: 20px;
}

.superior {
  background-color: #f0f0f0;
}

.superior h2 {
  font-size: 18px;
}

.superior h2 span {
  display: block;
  font-size: 22px;
}

.inferior .botao {
  margin: 15px auto 5px;
}