<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Mastery</title>
  <link rel="stylesheet" href="./assets/css/product_style.css">
</head>

<body>
  <div class="nav-bar"></div>

  <div id="app">

    <div class="product">

      <div class="product-image">
        <img :src="image" />
      </div>

      <div class="product-info">
        <h1>{{ title }}</h1>
        <p v-if="inventory >= 3">In Stock</p>
        <p v-else-if="inventory < 3 && inventory > 0">Almost sold out!</p>
        <p v-else class="outOfStock">Out of stock</p>

        <p>Available: {{ inventory }}</p>

        <ul>
          <li v-for="detail in details">{{ detail }}</li>
        </ul>

        <div class="color-box" 
             v-for="(variant, index) in variants"
             :key="variant.variantId"
             :style="{ backgroundColor: variant.variantColor }"
             @click="updateProduct(index)">
        </div>

        <!-- Mesma coisa, em sintaxe diferente: v-on:click ou @click -->
        <button v-on:click="addToCart" :disabled="!inventory" :class="{ disabledButton: !inventory }">Add to cart</button>
        <button @click="removeFromCart" :disabled="!cart" :class="{ disabledButton: !cart }">Remove from cart</button>

        <div class="cart">
          <p>Cart ({{ cart }})</p>
        </div>

      </div>

    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>

</html>
