:root {
  --aside-width: 225px;
  --bg-dark: #1a2f3a;
  --footer-height: 40px;
  --header-height: 100px;
  --logo-height: 100px;
  --shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.1), 0 2px 50px 0 rgba(0, 0, 0, 0.05);
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.app {
  background-color: #f5f5f5;
  display: grid;
  grid-template-areas:
    "logo header"
    "menu content"
    "menu footer";
  grid-template-columns: var(--aside-width) 1fr;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  height: 100vh;
  margin: 0px;
}

aside.logo {
  grid-area: logo;
}

aside.menu-area {
  grid-area: menu;
}

footer.footer {
  grid-area: footer;
}
header.header {
  grid-area: header;
}
main.content {
  grid-area: content;
}
