
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  color: #333;
}

header#cabecalho{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100%;
  background: #222;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

header#cabecalho img {
  max-width: 100px;
}