.display {
  align-items: center;
  background-color: #0004;
  display: flex;
  font-size: 40px;
  font-weight: bold;
  grid-column: span 4;
  justify-content: flex-end;
  overflow: hidden;
  padding: 20px;
}
