
.table-area {
  display: flex;
  justify-content: center;
}

table th {
  background-color: var(--roxo);
  text-align: left;
  color: white;
}

table tr {
  border-color: var(--roxo);
}

table th,
table td {
  padding: 5px;
  border: 1px solid var(--roxo);
}

table td b {
  margin-right: 15px;
}
