<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <link rel="stylesheet" href="./assets/styles.css" />
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>

      <div class="cart">Cart({{ cart }})</div>

      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img :class="{ 'out-of-stock-img': !inStock }" :src="image">
          </div>
          <div class="product-info">
            <h1>{{ title }}</h1>
            <p>{{ sale }}</p>
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>

            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>

            <div
              v-for="(variant, index) in variants"
              class="color-circle"
              :key="variant.id"
              :style="{ backgroundColor: variant.color }"
              @mouseover="updateVariant(index)"
            >
            </div>

            <button
              class="button"
              :class="{ disabledButton: !inStock }"
              :disabled="!inStock"
              @click="addToCart"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      Vue.createApp({
        data: () => ({
          brand: 'Vue Mastery',
          cart: 0,
          details: ['50% cotton', '30% wool', '20% polyester'],
          image: './assets/images/socks_green.jpg',
          inStock: true,
          onSale: true,
          product: 'Socks',
          selectedVariant: 0,
          variants: [
            { color: 'green', id: 2234, image: './assets/images/socks_green.jpg', quantity: 50 },
            { color: 'blue', id: 2235, image: './assets/images/socks_blue.jpg', quantity: 0 }
          ]
        }),
        computed: {
          image() {
            return this.variants[this.selectedVariant].image
          },
          inStock() {
            return this.variants[this.selectedVariant].quantity
          },
          sale() {
            if (this.onSale) {
              return this.brand + ' ' + this.product + ' is on sale.'
            }
            return ''
          },
          title() {
            return this.brand + ' ' + this.product
          }
        },
        methods: {
          addToCart() {
            this.cart += 1
          },
          updateVariant(index) {
            this.selectedVariant = index
          }
        }
      }).mount('#app')
    </script>
  </body>
</html>
