
:root {
  --roxo: #9f0460;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
  border-bottom: 1px solid var(--roxo);
}

/* form label:first-child {
  margin-left: 0;
} */

form button {
  margin-left: 15px;
  padding: 5px 10px;
  background-color: var(--roxo);
  border-radius: 2.5px;
  border: none;
  color: white;
  cursor: pointer;
}
