body {
  background-color: #1e1e1e;
  color: #569CD6;
}

input {
  background-color: #858585 !important;
  border: none !important;
  color: #1e1e1e !important;
}

.btn-primary {
  background: #569CD6;
  border: none;
  color: #1e1e1e;
  text-shadow: none;
}