ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  width: 125px;
  padding: 15px;
  margin: 10px auto;
  border: 1px solid black;
  list-style: none;
}

h4 {
  margin: 0 0 .5em;
}

p {
  margin: 0;
}
